html,body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.placeholder {
    display: flex;
    height: 100vh;
}

.placeholder > div {
    margin: auto auto;
}

@keyframes typing {
    0%{
        width: 0;
    }
    40% {
        width: 100%;
    }
    
    100% {
        width: 100%;
    }
}

@keyframes blink {
    60%{
        border: transparent;
    }
}

@keyframes lighting {
    0%{
        color: red;
    }
    30%{
        color: purple;
    }
    60% {
        color: blue;
    }
    100%{
        color: rgb(10, 61, 10);
    }
}

.placeholder > div > h1 {
    text-wrap: nowrap;
    overflow: hidden;
    border: 2px solid red;
    border-radius: 5px;
    padding: 0.5em;
    margin:0;
    animation: typing 8s steps(15) infinite, blink 0.7s infinite, lighting 7s infinite;
    text-shadow: 1px 1px rgb(87, 84, 84);
    font-size: xx-large;
}